DATABRICKS_HOST=https://...
# DATABRICKS_SERVING_ENDPOINT_NAME=your_agents_serving_endpoint_name
PGDATABASE=your_postgres_databaseName
LAKEBASE_ENDPOINT=your_postgres_endpointPath
PGHOST=your_postgres_host
PGPORT=5432
PGSSLMODE=require
DATABRICKS_APP_PORT=8000
DATABRICKS_APP_NAME=entity-resolver
FLASK_RUN_HOST=0.0.0.0
